nav {
  background: #191919;
  color: #fff;
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 240px;
  margin: 0;
  padding: 1em;
  z-index: 2;
}

.linkNav {
  display: block;
  color: #fff;
  padding: 3px 0;
  cursor: pointer;
}

.linkNav:hover {
  color: #29aeef;
  text-decoration: none;
}

.titleSommaire {
  color: #eea900;
  font-size: 1.5em;
  margin: 0.67em 0;
}

.selected {
  background: #29aeef;
  pointer-events: none;
  cursor: default;
}

.selected:hover {
  color: #fff;
}
